<web-app>

   <!-- General description of your Web application -->
   <display-name>
      CNT 4714 Summer 2022 Servlet/JSP Home Page
   </display-name>

   <description>
      This is the Web application in which we 
      demonstrate our JSP and Servlet examples.
   </description>

   <!-- Servlet definitions and mappings  -->

   <servlet>
      <servlet-name>alpha</servlet-name>
      <description> A simple servlet that handles an HTTP get request. </description>
      <servlet-class> WelcomeServlet  </servlet-class>
   </servlet>

   <servlet-mapping>
      <servlet-name>alpha</servlet-name>
      <url-pattern>/welcome1</url-pattern>
   </servlet-mapping>
</web-app>